html {
    scroll-behavior: smooth;
}

.no-scroll {
    overflow: hidden;
}

body::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--fond);
    filter: brightness(0.25);
    z-index: -10;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    color: var(--light);
    height: 100%;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

img {
    display: inline;
    max-width: 100%;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1,
h2,
h3 {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

h3 {
    text-align: start;
}

button {
    background: none;
    border: none;
    font-size: inherit;
    color: inherit;
    padding: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.intro__subtitle {
    text-align: start;
}