.menu__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--header-gradient);
    padding: var(--spacing-header) var(--padding-header);
}

.menu__container {
    background-color: var(--dark-grey);
    width: 100%;
    color: var(--light);
}

.menu__collapse {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 0;
    overflow: hidden;
    align-items: end;
    padding-top: 0;
    transition: 0.8s;
    font-size: 1.2rem;
    opacity: 1;
}

.menu__nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: var(--spacing-header);
    margin: 0;
    gap: 0;
    width: fit-content;
    transition: 0.8s;
}

.menu__collapse[aria-hidden="false"] {
    height: 100vh;
    opacity: 1;

    .menu__nav {
        gap: 1.2rem;
    }
}

.menu__brand img {
    height: 30px;
}

.menu__toggler {
    position: relative;
    height: 40px;
    width: 50px;
    border-radius: 6px;
    border: solid 1px var(--light-grey);
    background: transparent;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 12px;
    gap: 10px;
}

.menu__toggler-icon {
    width: 22px;
    position: absolute;
    height: 2px;
    background-color: var(--light-grey);
}

.menu__toggler-icon::before,
.menu__toggler-icon::after {
    content: '';
    position: absolute;
    display: block;
    width: 22px;
    height: 2px;
    background-color: var(--light-grey);
}

.menu__toggler-icon::before {
    transform: translateY(-8px);
}

.menu__toggler-icon::after {
    transform: translateY(8px);
}

.menu__dropdown {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    max-height: 100px;
    transition: 0.8s;
}

.menu__dropdown[aria-hidden="true"] {
    max-height: 0;
    padding: 0;
    overflow: hidden;
}