.card__link {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: solid 1px var(--light-grey);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);

    img {
        border-radius: 10px;
        height: 300px;
        object-fit: cover;
        object-position: center;
    }

    h2 {
        text-align: start;
    }
}