.card__link {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: solid 1px var(--light-grey);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);

    img {
        border-radius: 10px;
        height: 300px;
        object-fit: cover;
        object-position: center;
    }

    h2 {
        text-align: start;
    }
}

.application-card__link {
    display: block;
    position: relative;
    height: 250px;
}

.application-card__title {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.2em;
}

.application-card__overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.application-card__image,
.application-card__image-wrapper {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.book-card__image-wrapper,
.gallery-card__image-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.gallery-card__button {
    width: 100%;
}

.book-card__image-wrapper::before,
.gallery-card__image-wrapper::before {
    content: '';
    z-index: -1;
    filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: var(--bg-image);
}

.book-card__image,
.gallery-card__image {
    height: 100%;
    object-fit: contain;
}

.book-card,
.gallery-card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    overflow: hidden;
}

.book-card__body,
.gallery-card__body {
    padding: 16px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}