.hero__canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    display: block;
    max-height: 100%;
}

.hero {
    background-color: #1a1a1a;
    height: 50vh;
    position: relative;
    overflow: hidden;
    padding: var(--padding-header);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title--home {
    font-size: 2.5rem;
    font-weight: bold;
    display: inline-block;
    background: linear-gradient(90deg, #00ffff, #ff00ff, #00ffff);
    background-size: 200% auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    animation: scan 4s linear infinite;
}

.hero__content{
    z-index: 100;
}