.section {
    display: flex;
    flex-direction: column;
    padding: var(--padding);
    gap: var(--padding);
}

.section__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--padding);
}

.applications__grid,
.library__grid,
.gallery__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: var(--padding);
}

.section--film__button,
.section--livre__button {
    padding: var(--padding);
    display: flex;
    flex-direction: row;
    gap: var(--padding);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
}

.section--film__image-wrapper,
.section--livre__image-wrapper {
    padding: var(--padding);
}

.extrait__article {
    display: flex;
    flex-direction: column;
    gap: 20px;
}