.section {
    display: flex;
    flex-direction: column;
    padding: var(--padding);
    gap: var(--padding);
}

.section__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--padding);
    max-width: 1200px;
}