.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: 0.8s ease-in-out;
}
.modal[aria-hidden="false"]{
    opacity: 1;
    pointer-events: auto;
}
.modal__content{
    background-color: rgba(0, 0, 0, 0.8);
    padding: var(--padding);
    border-radius: 10px;
    width: 80%;
}
.modal__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__video-wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
}
.modal__video-wrapper video{
    width: 100%;
    height: auto;
    border-radius: 10px;
}